@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap');
:root {
    --white-color: #fff;
    --grey-color: rgb(0, 0, 0);
    --light-grey-color: rgb(133, 133, 133);
  }
*{
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
  }
  .heading{
      font-weight: 900;
      font-size: 40px;
      padding: 10px 0;
      text-decoration: underline;
    }
.stories {
    padding: 15px 0;
    position: relative;
    
  }  

  .stories-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .story-bg {
    background-color: rgba(238, 238, 238, 0.85);
    padding: 1rem;
    margin: 50px;
    width: 70%;
    transform: skewX(20deg);
    box-sizing: border-box;
    box-shadow: 4px 4px 7px #000;
  }
  
  .story {
    transform: skewX(-20deg);
    display: flex;
    padding: 15px;
  }
  .story-bg:before{
        content: '';
        position: absolute;
        padding: 0;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4e4e4e;
        clip-path: circle(200px at 85% 30%);
        transition: 0.5s ease-in-out;
    }
    .story-bg:hover::before{
        clip-path: circle(600px at 85% 30%);
    }
  
  
  .story-image {
      z-index: 100000;
    width: 240px;
    height: 240px;
    object-fit: contain;
    margin: 0 3rem;
    padding: 20px 0;
    transition: .5s ease-in-out;
  }
 .story-bg:hover .story-image,
    .story-bg:hover .story-text{
      transform: scale(1.1);
  }
  
  .story-text {
    letter-spacing: 0.1rem;
    padding: 50px;
    z-index: 10000;
    transition: 0.5s ease-in-out;
  }
  
  .story-heading {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 2vw;
  }
  
  .story-paragraph {
    font-size: 16px;
    font-weight: 500;
    color: var(--light-grey-color);
    text-align: center;
  }
  
  .story-paragraph::first-letter {
    margin-left: 1rem;
  }
  @media(max-width:1000px){
    .story-image {
        margin-right: 2rem;
      }
  }
  @media(max-width:850px){

    .story-bg {
        transform: skewX(6deg);
      }
    
      .story {
        transform: skewX(-6deg);
        flex-direction: column;
        align-items: center;
      }
    
      .story-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
        margin-bottom: 10px;
        width: 180px;
        height: 180px;
      }
      .story-text{
          padding: 5px;
      }
  }
